<%- include('../partials/htmlHead.ejs', {pageCss: "/styles/admin/manageUsers.css"}) %>  

<body>
    <div class="top-bar">
        <%- include('../partials/topBar.ejs') %>
    </div>

    <div class="side-bar">
        <%- include('../partials/adminSidebar.ejs') %>
    </div>

    <div class="main-content">
        <!-- ================= USER SECTION ================= -->
        <section class="user-section">

            <div class="user-header">
                <h2>Mahange Users</h2>
            </div>

            <% if (userList.length === 0) { %>
                 <p class="unavailable">No Users available.</p>
            <% }  else { %>
                <table class="user-table">

                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                    <% userList.forEach(element => { %>

                        <tr>
                            <td><%= element.id %></td>
                            <td><%= element.username %></td>
                            <td><%= element.role %></td>
                            <td><%= element.is_active ? 'Active' : 'Deactive' %></td>
                            <td>
                                <form method="POST" action="/admin/users/<%= element.id %>/status">
                                    <button type="submit"><%= element.is_active ? 'Deactivate' : 'Activate' %></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>

            <% } %>

        </section>
    </div>

    <div class="footer">
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>