<%- include('partials/htmlHead.ejs', {pageCss: "/styles/profile.css"}) %>

<body>
    <div class="top-bar">
        <%- include('partials/topBar.ejs') %>
    </div>

    <div class="side-bar">
        <%- include('partials/adminSidebar.ejs') %>
    </div>

    <div class="main-content">
        <%- include('partials/profile.ejs') %>
    </div>

    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>