<%- include('partials/htmlHead.ejs') %>

<body>
    <div>
        <%- include('partials/topBar.ejs') %>
    </div>

    <div>
        <%- include('partials/adminSidebar.ejs') %>
    </div>

    <div>
        <h1>Manage Users</h1>
        <p>Verify, disable and view users</p>

        <% userList.forEach(user => { %>

            <p>username: <%= user.username %></p>
            <p>email: <%= user.email %></p>
            <p>role: <%= user.role %></p>

            <form method="POST" action="/admin/users/<%= user.id %>">
                <div>
                    <label>Active User</label>
                    <input type="checkbox" name="is_active"
                    <%= user.is_active ? "checked" : "" %>>
                </div>

                <div>
                    <label>Verified User</label>
                    <input type="checkbox" name="is_verified"
                    <%= user.is_verified ? "checked" : "" %>>
                </div>

                <button type="submit">Save Changes</button>
            </form>
        <% }) %>

    </div>

    <div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>