<%- include('../partials/htmlHead.ejs', {pageCss: "/styles/user/userOrders.css"}) %>  

<body>
    <div class="top-bar">
        <%- include('../partials/topBar.ejs') %>
    </div>

    <div class="side-bar">
        <%- include('../partials/userSidebar.ejs') %>
    </div>

    <div class="main-content">
        <!-- ================= PURCHASE SECTION ================= -->
        <section class="order-section">

            <div class="section-header">
                <h2>Your Prurchases</h2>
            </div>

            <% if (bought.length === 0) { %>
                 <p class="unavailable">You have not bought anything yet.</p>
            <% }  else { %>
                <table class="products-table">

                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Seller</th>
                            <th>Order Details</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                    <% bought.forEach(element => { %>

                        <tr>
                            <td><%= element.title %></td>
                            <td><%= element.category_name %></td>
                            <td><%= element.quantity %></td>
                            <td>₹ <%= element.total_amount %></td>
                            <td><%= element.status %></td>
                            <td><%= element.username %></td>
                            <td>
                                <a href="/user/orders/<%= element.order_id %>">More Details</a>
                            </td>
                            <td>
                                <% if(element.status === 'CONFIRMED'){ %>   
                                    <a class="btn-pay" href="/user/orders/<%= element.order_id %>/pay">Pay now</a>
                                <% } if(element.status === 'PLACED' || element.status === 'CONFIRMED'){ %>
                                <form method="POST" action="/user/orders/<%= element.order_id %>/0/cancel">
                                    <button class="btn-cancel" type="submit">Cancel</button>
                                </form>
                                <% }if(element.status === 'COMPLETED' || element.status === 'CANCELLED') { %>
                                    <p>Unavailable</p>
                                <% } %>
                            </td>
                        </tr>

                    <% }) %>

                    </tbody>
                </table>
            <% } %>

        </section>

        <!-- ================= SALES SECTION ================= -->
        <section class="order-section">

            <div class="section-header">
                <h2>Your Sales</h2>
            </div>

            <% if (sold.length === 0) { %>
                 <p class="unavailable">You have not sold anything yet.</p>
            <% }  else { %>
                <table class="products-table">

                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Buyer</th>
                            <th>Order Details</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                    <% sold.forEach(element => { %>

                        <tr>
                            <td><%= element.title %></td>
                            <td><%= element.category_name %></td>
                            <td><%= element.quantity %></td>
                            <td>₹ <%= element.total_amount %></td>
                            <td><%= element.status %></td>
                            <td><%= element.username %></td>
                            <td>
                                <a href="/user/orders/<%= element.order_id %>">More Details</a>
                            </td>
                            <td>
                                <% if(element.status === 'PLACED' || element.status === 'CONFIRMED'){ %>
                                <form method="POST" action="/user/orders/<%= element.order_id %>/0/cancel">
                                    <button class="cancel-btn" type="submit">Cancel</button>
                                </form>
                                <% }if(element.status === 'COMPLETED' || element.status === 'CANCELLED') { %>
                                    <p>Unavailable</p>
                                <% } %>
                            </td>
                        </tr>

                    <% }) %>

                    </tbody>
                </table>
            <% } %>

        </section>
    </div>

    <div class="footer">
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>